
<div class="panel-group" id="todoList">
  <div class="panel panel-primary" id="inboxHead">
    <div class="panel-heading">
      <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#inbox">
          <span class='glyphicon glyphicon-inbox'></span>
          &nbsp;Inbox</a></h3>
    </div>
    <div class="panel-collapse collapse" id="inbox">
      <ul class="list-group">
        <li class="list-group-item"><a href="/#/todo/add">
            <span class="glyphicon glyphicon-pencil"></span>
            &nbsp;Add new</a></li>
        <li class="list-group-item" ng-repeat="inbox in vm.inboxs">{{inbox.name}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary" id="todayHead">
    <div class="panel-heading">
      <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#today">
          <span class='glyphicon glyphicon-star'></span>
          &nbsp;Today</a></h3>
    </div>
    <div class="panel-collapse collapse" id="today">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="today in vm.todays">{{today.name}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary" id="upcomingHead">
    <div class="panel-heading">
      <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#upcoming">
          <span class='glyphicon glyphicon-refresh'></span>
          &nbsp;Upcoming</a></h3>
    </div>
    <div class="panel-collapse collapse" id="upcoming">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="upcoming in vm.upcomings">{{upcoming.name}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary" id="completedHead">
    <div class="panel-heading">
      <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#completed">
          <span class='glyphicon glyphicon-thumbs-up'></span>
          &nbsp;Completed</a></h3>
    </div>
    <div class="panel-collapse collapse" id="completed">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="completed in vm.completeds">{{completed.name}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary" id="allHead">
    <div class="panel-heading">
      <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#all">
          <span class='glyphicon glyphicon-tasks'></span>
          &nbsp;All</a></h3>
    </div>
    <div class="panel-collapse collapse" id="all">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="all in vm.alls">{{all.name}}</li>
      </ul>
    </div>
  </div>
</div>