<a class="btn btn-default" href="/#/add">
  <span class="glyphicon glyphicon-pencil"></span>
  &nbsp;Add new
  </a>
<div class="panel-group" id="todoList" ng-init="vm.init()">
  <div class="row">
    <div class="panel panel-primary col-md-3 col-xs-12 todoBox" id="inboxHead">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#inbox">
            <span class='glyphicon glyphicon-inbox'></span>
            &nbsp;Inbox
            &nbsp; <span class="badge">{{vm.inboxs.length}}</span></a></h3>
      </div>
      <div class="panel-collapse collapse" id="inbox">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="inbox in vm.inboxs">
            <input type="checkbox" ng-change="vm.change('inbox')" ng-model="inbox.completed"/><a href="todo/{{inbox.createdOn}}">
              {{inbox.name}}
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary col-md-3 col-xs-12 todoBox" id="todayHead">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#today">
            <span class='glyphicon glyphicon-star'></span>
            &nbsp;Today
            &nbsp; <span class="badge">{{vm.todays.length}}</span></a></h3>
      </div>
      <div class="panel-collapse collapse" id="today">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="today in vm.todays">
            <input type="checkbox" ng-change="vm.change('today')" ng-model="today.completed"/><a href="todo/{{today.createdOn}}">
              {{today.name}}
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary col-md-3 col-xs-12 todoBox" id="allHead">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#all">
            <span class='glyphicon glyphicon-tasks'></span>
            &nbsp;All
            &nbsp; <span class="badge">{{vm.alls.length}}</span></a></h3>
      </div>
      <div class="panel-collapse collapse" id="all">
        <ul class="list-group" ng-repeat="all in vm.alls">
          <li class="list-group-item">{{all.date}}</li>
          <li class="list-group-item" ng-repeat="task in all.tasks">
            <input type="checkbox" ng-change="vm.change('all')" ng-model="task.completed"/><a href="todo/{{task.createdOn}}">
              {{task.name}}
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary col-md-3 col-xs-12 todoBox" id="completedHead">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" data-parent="#todoList" href="#completed">
            <span class='glyphicon glyphicon-thumbs-up'></span>
            &nbsp;Completed
            &nbsp; <span class="badge">{{vm.completeds.length}}</span></a></h3>
      </div>
      <div class="panel-collapse collapse" id="completed">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="completed in vm.completeds">
            <input type="checkbox" ng-change="vm.change('completed')" ng-model="completed.completed"/>
            <del><a href="todo/{{completed.createdOn}}" id="{{completed.createdOn}}">
                {{completed.name}}
                </a></del>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer-generic></footer-generic>