body {
  background: #f5efe6;
}
.navbar-brand img {
  display: inline;
}
.container {
  margin-top: 60px;
}
.homePageTop {
  padding-top: 100px;
}
.homePageLeft {
  padding-left: 100px;
}
.homePage {
  background: #ff9800;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  padding: 20px;
  margin-top: 10px;
  height: 500px;
}
.homePage h1,
.homePage h2,
.homePage h3,
.homePage h4 {
  color: #fff;
}
.homePage .col-md-6 h2,
.homePage .col-lg-6 h2 {
  margin-top: 120px;
}
.calendarBox {
  height: 500px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  overflow: auto;
  margin-bottom: 20px;
}
.calendarBox li {
  border: none;
  border-top: 1px solid #ddd;
}
.calendarBox .list-group .list-group-item:first-of-type {
  border: none;
}
.taskBox {
  position: relative;
}
#taskBox ul {
  margin-bottom: 0;
}
#taskBox ul li.list-group-item {
  padding-top: 0;
}
#detailPanelBody {
  padding-top: 0;
}
.todoBox {
  border-color: transparent;
}
.panel-collapse.collapse {
  border: 1px solid #ff9800;
  border-radius: 0 0 4px 4px;
}
form .panel.panel-primary {
  border: 1px solid #ff9800;
}
form .panel.panel-primary .panel-heading {
  border: none;
}
#todoList {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  padding: 15px;
  margin-top: 10px;
  height: 500px;
  overflow: auto;
}
.panel.panel-primary > .panel-heading {
  background-color: #ff9800;
  background-image: none;
  background-repeat: no-repeat;
}
#calendarDatepicker {
  margin-bottom: 10px;
}
footer {
  margin-bottom: 30px;
  margin-top: 20px;
}
