
<form ng-submit="vm.onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="form-group" style="padding-top:12px">
        <input class="form-control" type="text" placeholder="new task" ng-model="vm.newTask"/>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <ul class="nav nav-tabs">
          <li class="{{vm.begin.liStatus}}" data-toggle="tab"><a href="#" ng-click="vm.clickBegin()">
              {{vm.begin.date}}<br>
              {{vm.begin.time}}</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
          <li class="{{vm.end.liStatus}}" data-toggle="tab"><a href="#" ng-click="vm.clickEnd()">
              {{vm.end.date}}<br>
              {{vm.end.time}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="{{vm.begin.contentStatus}}">
            <div class="form-group" style="padding-top:17px">
              <input class="form-control" type="date" ng-model="vm.begin.dateRaw"/>
            </div>
            <div class="form-group">
              <input class="form-control" id="beginTime" type="time" ng-model="vm.begin.timeRaw"/>
            </div>
          </div>
          <div class="{{vm.end.contentStatus}}">
            <div class="form-group" style="padding-top:17px">
              <input class="form-control" id="endDate" type="date" ng-model="vm.end.dateRaw"/>
            </div>
            <div class="form-group">
              <input class="form-control" id="endTime" type="time" ng-model="vm.end.timeRaw"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>