doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', date-target='#the-menu')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') TodoCalendar

        .collapse.navbar-collapse#the-menu
          ul.nav.navbar-nav
            li
              a(href='/todo') Todo
            li
              a(href='/calendar') Calendar

    .container
      block content

      footer
        .row
          .col-md-12
            small &copy; Penghui Li 2016

    script(src="jquery/dist/jquery.min.js")
    script(src="bootstrap/dist/js/bootstrap.min.js")
