a.btn.btn-default(href="/#/add").
  <span class="glyphicon glyphicon-pencil"></span>
  &nbsp;Add new

.panel-group#todoList(ng-init="vm.init()")
  .row
    .panel.panel-primary.col-md-3.col-xs-12.todoBox#inboxHead
      .panel-heading
        h3.panel-title
          a(data-toggle='collapse', data-parent='#todoList', href='#inbox').
            <span class='glyphicon glyphicon-inbox'></span>
            &nbsp;Inbox
            &nbsp; <span class="badge">{{vm.inboxs.length}}</span>
      .panel-collapse.collapse#inbox
        ul.list-group
          li.list-group-item(ng-repeat="inbox in vm.inboxs")
            input(type="checkbox", ng-change="vm.change('inbox')", ng-model="inbox.completed")
            a(href="todo/{{inbox.createdOn}}").
              {{inbox.name}}

    .panel.panel-primary.col-md-3.col-xs-12.todoBox#todayHead
      .panel-heading
        h3.panel-title
          a(data-toggle='collapse', data-parent='#todoList', href='#today').
            <span class='glyphicon glyphicon-star'></span>
            &nbsp;Today
            &nbsp; <span class="badge">{{vm.todays.length}}</span>
      .panel-collapse.collapse#today
        ul.list-group
          li.list-group-item(ng-repeat="today in vm.todays")
            input(type="checkbox", ng-change="vm.change('today')", ng-model="today.completed")
            a(href="todo/{{today.createdOn}}").
              {{today.name}}

    .panel.panel-primary.col-md-3.col-xs-12.todoBox#allHead
      .panel-heading
        h3.panel-title
          a(data-toggle='collapse', data-parent='#todoList', href='#all').
            <span class='glyphicon glyphicon-tasks'></span>
            &nbsp;All
            &nbsp; <span class="badge">{{vm.alls.length}}</span>
      .panel-collapse.collapse#all
        ul.list-group(ng-repeat="all in vm.alls")
          li.list-group-item.
            {{all.date}}
          li.list-group-item(ng-repeat="task in all.tasks")
            input(type="checkbox", ng-change="vm.change('all')", ng-model="task.completed")
            a(href="todo/{{task.createdOn}}").
              {{task.name}}

    .panel.panel-primary.col-md-3.col-xs-12.todoBox#completedHead
      .panel-heading
        h3.panel-title
          a(data-toggle='collapse', data-parent='#todoList', href='#completed').
            <span class='glyphicon glyphicon-thumbs-up'></span>
            &nbsp;Completed
            &nbsp; <span class="badge">{{vm.completeds.length}}</span>
      .panel-collapse.collapse#completed
        ul.list-group
          li.list-group-item(ng-repeat="completed in vm.completeds")
            input(type="checkbox", ng-change="vm.change('completed')", ng-model="completed.completed")
            del
              a(href="todo/{{completed.createdOn}}", id="{{completed.createdOn}}").
                {{completed.name}}

footer-generic
