nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle#navBtn(type='button', data-toggle='collapse', data-target='#the-menu')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/').
        <img src="images/logo_background_white.jpg" width="20px" height="20px"> TodoCalendar

    .collapse.navbar-collapse#the-menu
      ul.nav.navbar-nav
        li
          a(href='/#/calendar#seven', ng-click="navvm.hidePanelBody()") Calendar
        li
          a(href='/#/todo', ng-click="navvm.hidePanelBody()") Todo
        
